In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import datasets, linear_model
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV
from sklearn.datasets import make_classification
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, balanced_accuracy_score

In [2]:
train = pd.read_csv('train.csv', index_col="id")

In [3]:
train.head()

    carat        cut color clarity  depth  table     x     y     z  price
id
0    0.50      Ideal     D     VS2   62.3   55.0  5.11  5.07  3.17   1845
1    1.54       Good     I     VS1   63.6   60.0  7.30  7.33  4.65  10164
2    1.32  Very Good     J     SI2   61.7   60.0  6.95  7.01  4.31   5513
3    1.20      Ideal     I     SI1   62.1   55.0  6.83  6.79  4.23   5174
4    1.73    Premium     I     SI1   61.2   60.0  7.67  7.65  4.69  10957

In [4]:
data = train.drop(columns=["z","y"])
data

       carat        cut color clarity  depth  table     x  price
id
0       0.50      Ideal     D     VS2   62.3   55.0  5.11   1845
1       1.54       Good     I     VS1   63.6   60.0  7.30  10164
2       1.32  Very Good     J     SI2   61.7   60.0  6.95   5513
3       1.20      Ideal     I     SI1   62.1   55.0  6.83   5174
4       1.73    Premium     I     SI1   61.2   60.0  7.67  10957
...      ...        ...   ...     ...    ...    ...   ...    ...
40450   0.40  Very Good     F     SI1   62.9   58.0  4.69    687
40451   0.95    Premium     H     SI1   62.9   58.0  6.26   3984
40452   0.63      Ideal     F     VS2   61.2   56.0  5.56   2182
40453   1.22       Good     H     VS2   63.8   55.0  6.77   7201
40454   0.32    Premium     D     VS2   60.3   60.0  4.44    972

[40455 rows x 8 columns]

In [5]:
data_dummies=pd.get_dummies(data, drop_first=True)

In [6]:
data_dummies

,carat,depth,table,x,price,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_E,...,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
id,,,,,,,,,,,,,,,,,,,,,
0,0.50,62.3,55.0,5.11,1845,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1.54,63.6,60.0,7.30,10164,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
2,1.32,61.7,60.0,6.95,5513,0,0,0,1,0,...,0,0,1,0,0,1,0,0,0,0
3,1.20,62.1,55.0,6.83,5174,0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,0
4,1.73,61.2,60.0,7.67,10957,0,0,1,0,0,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,0.40,62.9,58.0,4.69,687,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
40451,0.95,62.9,58.0,6.26,3984,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0
40452,0.63,61.2,56.0,5.56,2182,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
40453,1.22,63.8,55.0,6.77,7201,1,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
40454,0.32,60.3,60.0,4.44,972,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0

In [7]:
y = data_dummies["price"]
X = data_dummies.drop(columns="price")

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.20)

In [9]:
from sklearn.ensemble import RandomForestClassifier

In [38]:
clf=RandomForestClassifier(n_estimators=5)

In [39]:
clf.fit(X_train,y_train)

RandomForestClassifier(n_estimators=5)

In [40]:
y_pred_test=clf.predict(X_test)

In [41]:
y_pred_train=clf.predict(X_train)

In [42]:
r2_test = r2_score(y_test, y_pred_test)
r2_test

0.8145638960204491

In [43]:
r2_train = r2_score(y_train, y_pred_train)
r2_train

0.9847857377708448

In [44]:
rmse_test=mean_squared_error(y_test, y_pred_test)**0.5
rmse_test

1737.027029367685

In [45]:
rmse_test=mean_squared_error(y_train, y_pred_train)**0.5
rmse_test

493.8204353074883

### Abrimos el archivo predict

In [46]:
predict = pd.read_csv("predict.csv", index_col="id")

In [48]:
predict.head(5)

    carat      cut color clarity  depth  table     x     y     z
id
0    0.45  Premium     E     SI1   62.8   58.0  4.88  4.84  3.05
1    1.23    Ideal     H     SI1   61.0   56.0  6.96  6.92  4.23
2    0.33    Ideal     I      IF   61.8   55.0  4.46  4.47  2.76
3    0.51  Premium     D     VS2   58.0   60.0  5.29  5.26  3.06
4    0.40  Premium     E     VS2   62.2   59.0  4.71  4.74  2.94

In [49]:
predict = predict.drop(columns=["z","y"])
predict

       carat        cut color clarity  depth  table     x
id
0       0.45    Premium     E     SI1   62.8   58.0  4.88
1       1.23      Ideal     H     SI1   61.0   56.0  6.96
2       0.33      Ideal     I      IF   61.8   55.0  4.46
3       0.51    Premium     D     VS2   58.0   60.0  5.29
4       0.40    Premium     E     VS2   62.2   59.0  4.71
...      ...        ...   ...     ...    ...    ...   ...
13480   0.30  Very Good     I     SI1   62.2   57.0  4.25
13481   1.01      Ideal     J     VS2   62.3   55.0  6.40
13482   0.33      Ideal     F    VVS1   61.9   55.0  4.43
13483   0.30    Premium     G     VS2   59.3   59.0  4.42
13484   1.15    Premium     I     SI2   62.6   57.0  6.73

[13485 rows x 7 columns]

In [50]:
predict_dummies=pd.get_dummies(predict, drop_first=True)
predict_dummies

,carat,depth,table,x,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_E,color_F,...,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
id,,,,,,,,,,,,,,,,,,,,,
0,0.45,62.8,58.0,4.88,0,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,0
1,1.23,61.0,56.0,6.96,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
2,0.33,61.8,55.0,4.46,0,1,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
3,0.51,58.0,60.0,5.29,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0.40,62.2,59.0,4.71,0,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13480,0.30,62.2,57.0,4.25,0,0,0,1,0,0,...,0,1,0,0,1,0,0,0,0,0
13481,1.01,62.3,55.0,6.40,0,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
13482,0.33,61.9,55.0,4.43,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
13483,0.30,59.3,59.0,4.42,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
13484,1.15,62.6,57.0,6.73,0,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0

In [51]:
X_test=predict_dummies

In [53]:
y_pred= clf.predict(X_test)

In [56]:
y_pred

array([1040, 6485,  891, ...,  880,  675, 3774])

In [57]:
predict_dummies["price"]= y_pred

In [58]:
predict_dummies.head(5)

,carat,depth,table,x,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_E,color_F,...,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2,price
id,,,,,,,,,,,,,,,,,,,,,
0,0.45,62.8,58.0,4.88,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,1040
1,1.23,61.0,56.0,6.96,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,6485
2,0.33,61.8,55.0,4.46,0,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,891
3,0.51,58.0,60.0,5.29,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1662
4,0.40,62.2,59.0,4.71,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,912

In [59]:
predict_dummies["price"].to_csv("randomforest.csv")